## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
0,0,Taoudenni,ML,2022-04-16 00:54:38,22.6783,-3.9836,76.32,19,0,13.47,clear sky,0.0,0.0
1,1,Saint-Louis,SN,2022-04-16 00:54:38,16.3333,-15.0000,76.64,38,6,12.35,clear sky,0.0,0.0
2,2,Kalmunai,LK,2022-04-16 00:54:38,7.4167,81.8167,79.12,86,6,9.24,clear sky,0.0,0.0
3,3,Tucuman,AR,2022-04-16 00:54:39,-26.8241,-65.2226,60.80,88,0,2.30,clear sky,0.0,0.0
4,4,Tessalit,ML,2022-04-16 00:54:39,20.1986,1.0114,72.50,18,1,12.77,clear sky,0.0,0.0

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimun temperature you would like for your trip? "))
max_temp = float(input("What is the maximun temperature you would like for your trip? "))

What is the minimun temperature you would like for your trip? 60
What is the maximun temperature you would like for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
cities_preferred_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
cities_preferred_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
0,0,Taoudenni,ML,2022-04-16 00:54:38,22.6783,-3.9836,76.32,19,0,13.47,clear sky,0.0,0.0
1,1,Saint-Louis,SN,2022-04-16 00:54:38,16.3333,-15.0000,76.64,38,6,12.35,clear sky,0.0,0.0
2,2,Kalmunai,LK,2022-04-16 00:54:38,7.4167,81.8167,79.12,86,6,9.24,clear sky,0.0,0.0
3,3,Tucuman,AR,2022-04-16 00:54:39,-26.8241,-65.2226,60.80,88,0,2.30,clear sky,0.0,0.0
4,4,Tessalit,ML,2022-04-16 00:54:39,20.1986,1.0114,72.50,18,1,12.77,clear sky,0.0,0.0

In [5]:
# 4a. Determine if there are any empty rows.
print(len(cities_preferred_df))
cities_preferred_df.count()

381

City ID                    381
City                       381
Country                    377
Date                       381
Lat                        381
Lng                        381
Max Temp                   381
Humidity                   381
Cloudiness                 381
Wind Speed                 381
Current Description        381
Rain inches (last 3hrs)    381
Snow inches (last 3hrs)    381
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = cities_preferred_df.dropna(axis="index", how="any")
print(len(clean_df))
clean_df.head()

377

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
0,0,Taoudenni,ML,2022-04-16 00:54:38,22.6783,-3.9836,76.32,19,0,13.47,clear sky,0.0,0.0
1,1,Saint-Louis,SN,2022-04-16 00:54:38,16.3333,-15.0000,76.64,38,6,12.35,clear sky,0.0,0.0
2,2,Kalmunai,LK,2022-04-16 00:54:38,7.4167,81.8167,79.12,86,6,9.24,clear sky,0.0,0.0
3,3,Tucuman,AR,2022-04-16 00:54:39,-26.8241,-65.2226,60.80,88,0,2.30,clear sky,0.0,0.0
4,4,Tessalit,ML,2022-04-16 00:54:39,20.1986,1.0114,72.50,18,1,12.77,clear sky,0.0,0.0

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Taoudenni,ML,76.32,clear sky,22.6783,-3.9836,
1,Saint-Louis,SN,76.64,clear sky,16.3333,-15.0000,
2,Kalmunai,LK,79.12,clear sky,7.4167,81.8167,
3,Tucuman,AR,60.80,clear sky,-26.8241,-65.2226,
4,Tessalit,ML,72.50,clear sky,20.1986,1.0114,
6,Buala,SB,83.37,overcast clouds,-8.1450,159.5921,
12,Vaini,TO,84.36,few clouds,-21.2000,-175.2000,
15,Hobart,AU,61.02,broken clouds,-42.8794,147.3294,
16,Airai,TL,72.07,overcast clouds,-8.9266,125.4092,
17,Puerto Ayora,EC,76.08,broken clouds,-0.7393,-90.3518,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping the city.")

Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Taoudenni,ML,76.32,clear sky,22.6783,-3.9836,
1,Saint-Louis,SN,76.64,clear sky,16.3333,-15.0000,
2,Kalmunai,LK,79.12,clear sky,7.4167,81.8167,VS Villa
3,Tucuman,AR,60.80,clear sky,-26.8241,-65.2226,Dallas Hotel Tucuman
4,Tessalit,ML,72.50,clear sky,20.1986,1.0114,
6,Buala,SB,83.37,overcast clouds,-8.1450,159.5921,Maringe Lagoon Lodge
12,Vaini,TO,84.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort
15,Hobart,AU,61.02,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
16,Airai,TL,72.07,overcast clouds,-8.9266,125.4092,
17,Puerto Ayora,EC,76.08,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))